node_modules
.env
*.env
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
backend/.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
.env
env
OPENAI_API_KEY="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"